{% extends 'base.html' %}
{% load i18n %}

{% block navigation_links %}
<li><a href="{% url 'seminar-event-list' %}">{% trans "Events" %}</a></li>
<li><a href="{% url 'seminar-event-list-archive' %}">{% trans "Archives" %}</a></li>
{% endblock %}

{% block admin_links %}
{% if perms.seminar.add_event %}
<li class="seminar_admin"><a href="{% url 'seminar-event-create' %}">{% trans "New event" %}</a></li>
{% endif %}
{% endblock %}
