{# vim: set syntax=htmldjango : #}
{% load i18n %}{% load markdown_deux_tags %}{% load seminar %}
<div class="seminar_event seminar_event_kind_{{ event.kind.slug }}">
	<h3>
		<a href="{{ event.get_absolute_url }}">{{ event.title|default:event.kind.name }}</a>,
		<span class="seminar_date">{{ event.date_begin|date_range:event.date_end }}</span>
	</h3>
	{% if event.short_description %}
	<div class="seminar_description">
		{{ event.short_description|markdown }}
	</div>
	{% endif %}
	{% if event.featured_talks %}
	{% include "seminar/talk_list_short.html" with talk_list=event.featured_talks %}
	{% endif %}
</div>
