{% extends 'seminar/base.html' %}
{% load i18n %}
{% block title %}
{% blocktrans with year=year|date:"Y" %}Events archive for {{ year }}{% endblocktrans %}
{% endblock %}

{% block navigation_links %}
{{ block.super }}
{% if previous_year %}
<li>{% trans "Previous year:" %}
	<a href="{% url "seminar-event-list-year-archive" previous_year|date:"Y" %}">{{ previous_year|date:"Y" }}</a></li>
{% endif %}
{% if next_year %}
<li>{% trans "Next year:" %}
	<a href="{% url "seminar-event-list-year-archive" next_year|date:"Y" %}">{{ next_year|date:"Y" }}</a></li>
{% endif %}
{% endblock %}

{% block content %}
<h1>{% blocktrans with year=year|date:"Y" %}Events archive for {{ year }}{% endblocktrans %}</h1>

{% for event in event_list %}
{% include "seminar/event_div.html" %}
{% endfor %}

{% endblock %}
