{% extends 'seminar/base.html' %}
{% load i18n %}

{% block title %}
{{ event }}
{% endblock %}

{% block navigation_links %}
{{ block.super }}
	<li><a href="{{ event.get_absolute_url }}"><strong>{{ event }}</strong></a></li>
	<li><a href="{% url 'seminar-talk-list' event.slug %}">{% trans "Talks" %}</a></li>
	<li><a href="{% url 'seminar-session-list' event.slug %}">{% trans "Schedule" %}</a></li>
	<li><a href="{% url 'seminar-event-timetable' event.slug %}">{% trans "Timetable" %}</a></li>
{% endblock %}

{% block admin_links %}
	{% if perms.seminar.change_event %}
	<li class="seminar_admin"><a href="{% url 'seminar-event-edit' event.slug %}">{% trans "Edit event" %}</a></li>
	{% endif %}
	{% if perms.seminar.delete_event %}
	<li class="seminar_admin"><a href="{% url 'seminar-event-delete' event.slug %}">{% trans "Delete event" %}</a></li>
	{% endif %}
	{% if perms.seminar.add_talk %}
	<li class="seminar_admin"><a href="{% url 'seminar-talk-create' event.slug %}">{% trans "New talk" %}</a></li>
	{% endif %}
	{% if perms.seminar.add_session %}
	<li class="seminar_admin"><a href="{% url 'seminar-session-create' event.slug %}">{% trans "New session" %}</a></li>
	{% endif %}
{% endblock %}
