{% extends event.kind.template_event_base %}
{% load i18n %}
{% block extra_head %}
{{ form.media }}
{% endblock %}
{% block content %}

<h2>
	{% if session %}{{ session }}{% else %}{% trans "New session" %}{% endif %}
</h2>

<form method="post" action=".">{% csrf_token %}
<table>
	{{ form.as_table }}
</table>
<p><input type="submit" value="{% trans "Submit" %}"/></p>
</form>

{% endblock %}
