{# vim: set syntax=htmldjango : #}
{% load markdown_deux_tags %}
<ul class="seminar_talk_list">
	{% for talk in talk_list %}
	<li class="seminar_talk">
		{% include 'seminar/talk_item.html' %}
		{% if talk.session_set.all %}
		<ul class="seminar_sessions">
			{% for session in talk.session_set.all %}
			<li>
				{{ session.date }}, {{ session.time_begin }}
				{% if session.title %}&mdash; {{ session.title }}{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</li>
	{% endfor %}
</ul>
