{# vim: set syntax=htmldjango : #}
{% load i18n %}{% load markdown_deux_tags %}{% load seminar %}
<ul class="seminar_talk_list_short">
	{% for talk in talk_list %}
	<li class="seminar_talk seminar_talk_kind_{{ talk.kind.slug }}">
		<span class="seminar_speaker">{% for speaker in talk.speakers.all %}{% if not forloop.first %}{% if forloop.last %}{% trans " and" %}{% else %}{% trans "," %}{% endif %}{% endif %}
			{{ speaker|name_reference }}{% endfor %}</span>,
		<span class="seminar_title"><a href="{{ talk.get_absolute_url }}">{% if talk.title %}{{ talk.title }}{% else %}{% trans "TBA" %}{% endif %}</a></span>
	</li>
	{% endfor %}
</ul>
